_NotYet
*.pyc
Bootchart/
NVIDIA*
backup_data/
bin/
builds/
doc/
dtu/
patches/
path/MatlabPath
snd/
syst/
fonts/*/
tmp/
_bkp_dotfiles
_src_and_deb
dotfiles/gitconfig-work


sbin/
scripts/tests/
scripts/windap.con

simplekey
scripts/Riso*
dotfiles/gitignore-work

NTUA*

profiles/Firefox-profile/
profiles/_FluxBox/
profiles/dicos/
profiles/grub/
profiles/kernel-config/
profiles/smb.conf.VJK
profiles/texmf/
	

look/136850-Murrina-Debian-Red-0.9.tar.gz
look/IconsManu2009.tar.bz2
look/IconsManu2009/
look/IconsManu2011.tar
look/IconsManu2012.tar
look/IconsManuFactory/
look/Background/
look/IconsManu2012/128x128/
look/IconsManu2012/22x22/
look/IconsManu2012/24x24/
look/IconsManu2012/32x32/
look/IconsManu2012/48x48/
look/IconsManu2012/64x64/
look/IconsManu2012/icon-theme.cache
