*.pyc
Bootchart/
NVIDIA*
backup_data/
bin/
builds/
build/
doc/
docnew/
dtu/
patches/
path/MatlabPath
snd/
syst/
fonts/*/
dotfiles/vim/.*
dotfiles/vim/_matlab
tmp/
_bkp_dotfiles
_src_and_deb
dotfiles/gitconfig-work


sbin/
scripts/tests/
scripts/windap.con

simplekey
scripts/Riso*
dotfiles/gitignore-work

NTUA*

profiles/Firefox-profile/
profiles/_FluxBox/
profiles/dicos/
profiles/grub/
profiles/kernel-config/
profiles/smb.conf.VJK
profiles/templates/
profiles/texmf/
	

look/136850-Murrina-Debian-Red-0.9.tar.gz
look/Background/
look/BodyBg.jpg
look/Desk4Term.png
look/Desktop.png
look/Icons/
look/IconsManu2009.tar.bz2
look/IconsManu2009/
look/IconsManu2011.tar
look/IconsManu2012.tar
look/IconsManu2012/
look/IconsManuFactory/
look/Screenshot - 01182011 - 01:05:56 PM.png
look/Screenshot-40-4.jpg
look/Screenshot-41-7.png
look/conky.png
look/gnome-fs-executable.png
look/orbit-grub.png
look/orbit-grub.xcf
look/testMimeIcons/
look/vlc.xpm
look/xapp-mask.xbm
look/xapp.png
look/xapp.xbm
