Bootchart/
NVIDIA*
backup_data/
bin/
builds/
build/
doc/
docnew/
dtu/
look/
mime/
patches/
profiles/
snd/
syst/
fonts/*/
dotfiles/vim/.*
dotfiles/vim/_matlab
tmp/
_bkp_dotfiles
_src_and_deb
dotfiles/gitconfig-work
SetupSyst


sbin/
scripts/tests/
scripts/windap.con

simplekey
scripts/Riso*
dotfiles/gitignore-work
