nb_lines=4
nb_launcher=18
extra_spacing=0
has_tooltips=false
has_labels=false

[launcher_44]
command=xfce4-settings-manager
name=Parameters
icon_id=15

[launcher_43]
command=xfce4-taskmanager
name=
icon_name=/home/manu/Config/look/Icons/utilities-system-monitor.png
icon_id=21

[launcher_42]
command=xfce4-terminal
name=
icon_name=/home/manu/Config/look/Icons/terminal.png
icon_id=21

[launcher_41]
command=terminator
name=
icon_name=/usr/share/pixmaps/terminator.png
icon_id=21

[launcher_40]
command=filezilla
name=
icon_name=/usr/share/pixmaps/filezilla.png
icon_id=21

[launcher_39]
command=geany
name=
icon_name=/usr/share/pixmaps/geany.xpm
icon_id=21

[launcher_38]
command=thunar
name=Help
icon_id=2

[launcher_37]
command=amule
name=
icon_name=/usr/share/pixmaps/amule.xpm
icon_id=21

[launcher_36]
command=transmission-gtk
name=transmission
icon_name=/usr/share/pixmaps/transmission.png
icon_id=21

[launcher_35]
command=skype
name=
icon_name=/usr/share/pixmaps/skype.png
icon_id=21

[launcher_34]
command=iceweasel
name=
icon_name=/usr/share/pixmaps/iceweasel.png
icon_id=21

[launcher_33]
command=google-earth
name=
icon_name=/opt/google/earth/free/product_logo_24.png
icon_id=21

[launcher_32]
command=picasa
name=
icon_name=/home/manu/Config/look/Icons/Picasa.png
icon_id=21

[launcher_31]
command=rhythmbox
name=
icon_name=/usr/share/pixmaps/rhythmbox-small.xpm
icon_id=21

[launcher_30]
command=gvim
name=gvim
icon_name=/usr/share/pixmaps/vim-32.xpm
icon_id=21

[launcher_29]
command=filelight
name=
icon_name=/home/manu/Config/look/Icons/filelight.png
icon_id=21

[launcher_28]
command=vlc
name=
icon_name=/home/manu/Config/look/Icons/vlc.xpm
icon_id=21

[launcher_27]
command=gimp
name=
icon_name=/usr/share/pixmaps/gimp.xpm
icon_id=21

[launcher_26]
command=inkscape
name=
icon_name=/usr/share/pixmaps/inkscape.xpm
icon_id=21

[launcher_25]
command=oocalc
name=
icon_name=/home/manu/Config/look/Icons/ooo-calc.png
icon_id=21

[launcher_24]
command=oowriter
name=
icon_name=/home/manu/Config/look/Icons/ooo-writer.png
icon_id=21

[launcher_23]
command=wine "/home/manu/.wine/drive_c/Program Files/Microsoft Office/Office12/WINWORD.exe"
name=
icon_name=/home/manu/Config/look/Icons/word2007.png
icon_id=21

[launcher_22]
command=wine "/home/manu/.wine/drive_c/Program Files/Microsoft Office/Office12/EXCEL.EXE"
name=
icon_name=/home/manu/Config/look/Icons/excel2007.png
icon_id=21

[launcher_21]
command=wine "/home/manu/.wine/drive_c/Program Files/Microsoft Office/Office12/POWERPNT.EXE"
name=
icon_name=/home/manu/Config/look/Icons/powerpoint2007.png
icon_id=21

[launcher_20]
command=mathematica
name=
icon_name=/home/manu/Config/look/Icons/mathematica.png
icon_id=21

[launcher_19]
command=wine "/home/manu/.wine/drive_c/PDF-XChange-Viewer2.5.2/PDF Viewer/PDFXCview.exe"
name=
icon_name=/home/manu/Config/look/Icons/pdf-xchange-viewer.png
icon_id=21

[launcher_45]
command=desktop
name=
icon_name=/home/manu/Config/look/Icons/user-desktop.png
icon_id=21

[launcher_4]
command=LaunchSession.sh momentum
name=Notes Momentum Theory
icon_name=/home/manu/Config/look/Icons/Projects/application-pdf.png
icon_id=21

[launcher_3]
command=LaunchSession.sh book
name=Book
icon_name=/home/manu/Config/look/Icons/Projects/acroread.png
icon_id=21

[launcher_2]
command=pavucontrol
name=
icon_name=/home/manu/Config/look/Icons/preferences-desktop-sound.png
icon_id=21

[launcher_1]
command=virtualbox --startvm WinXP
name=
icon_name=/home/manu/Config/look/Icons/WinLinuxicon.png
icon_id=21

[launcher_18]
command=google-chrome
name=chrome
icon_name=/opt/google/chrome/product_logo_24.png
icon_id=21

[launcher_17]
command=eclipse
name=
icon_id=0

[launcher_16]
command=/opt/dropbox-dist/dropbox
name=
icon_name=/home/manu/Config/look/Icons/dropbox-logo.png
icon_id=21

[launcher_15]
command=icedove
name=
icon_name=/usr/share/pixmaps/icedove.xpm
icon_id=21

[launcher_14]
command=lhm
name=lhm
icon_name=/home/manu/Config/look/Icons/input-mouse.png
icon_id=21

[launcher_13]
command=rhm
name=
icon_name=/home/manu/Config/look/Icons/input-mouse-right.png
icon_id=21

[launcher_12]
command=xfc
