nb_lines=4
nb_launcher=20
extra_spacing=0
has_tooltips=false
has_labels=false

[launcher_44]
command=xfce4-settings-manager
name=Parameters
icon_id=15

[launcher_43]
command=xfce4-taskmanager
name=
icon_name=/home/manu/Config/look/Icons/utilities-system-monitor.png
icon_id=21

[launcher_42]
command=xfce4-terminal
name=
icon_name=/home/manu/Config/look/Icons/terminal.png
icon_id=21

[launcher_41]
command=terminator
name=
icon_name=/usr/share/pixmaps/terminator.png
icon_id=21

[launcher_40]
command=filezilla
name=
icon_name=/usr/share/pixmaps/filezilla.png
icon_id=21

[launcher_39]
command=geany
name=
icon_name=/usr/share/pixmaps/geany.xpm
icon_id=21

[launcher_38]
command=thunar
name=Help
icon_id=2

[launcher_37]
command=amule
name=
icon_name=/usr/share/pixmaps/amule.xpm
icon_id=21

[launcher_36]
command=transmission-gtk
name=transmission
icon_name=/usr/share/pixmaps/transmission.png
icon_id=21

[launcher_35]
command=skype
name=
icon_name=/usr/share/pixmaps/skype.png
icon_id=21

[launcher_34]
command=iceweasel
name=
icon_name=/usr/share/pixmaps/iceweasel.png
icon_id=21

[launcher_33]
command=google-earth
name=
icon_name=/opt/google/earth/free/product_logo_24.png
icon_id=21

[launcher_32]
command=picasa
name=
icon_name=/home/manu/Config/look/Icons/Picasa.png
icon_id=21

[launcher_31]
command=rhythmbox
name=
icon_name=/usr/share/pixmaps/rhythmbox-small.xpm
icon_id=21

[launcher_30]
command=gvim
name=gvim
icon_name=/usr/share/pixmaps/vim-32.xpm
icon_id=21

[launcher_29]
command=filelight
name=
icon_name=/home/manu/Config/look/Icons/filelight.png
icon_id=21

[launcher_45]
command=desktop
name=
icon_name=/home/manu/Config/look/Icons/user-desktop.png
icon_id=21

[launcher_28]
command=desktop
name=
icon_name=/home/manu/Config/look/Icons/user-desktop.png
icon_id=21

[launcher_27]
command=xfce4-settings-manager
name=Parameters
icon_id=15

[launcher_26]
command=xfce4-taskmanager
name=
icon_name=/home/manu/Config/look/Icons/utilities-system-monitor.png
icon_id=21

[launcher_25]
command=xfce4-terminal
name=
icon_name=/home/manu/Config/look/Icons/terminal.png
icon_id=21

[launcher_24]
command=desktop
name=
icon_name=/home/manu/Config/look/Icons/user-desktop.png
icon_id=21

[launcher_23]
command=xfce4-settings-manager
name=Parameters
icon_id=15

[launcher_22]
command=xfce4-taskmanager
name=
icon_name=/home/manu/Config/look/Icons/utilities-system-monitor.png
icon_id=21

[launcher_21]
command=xfce4-terminal
name=
icon_name=/home/manu/Config/look/Icons/terminal.png
icon_id=21

[launcher_20]
command=desktop
name=
icon_name=/home/manu/Config/look/Icons/user-desktop.png
icon_id=21

[launcher_19]
command=xfce4-settings-manager
name=Parameters
icon_name=/home/manu/Config/look/Icons/preferences-desktop.png
icon_id=21

[launcher_18]
command=xfce4-taskmanager
name=
icon_name=/home/manu/Config/look/Icons/utilities-system-monitor.png
icon_id=21

[launcher_17]
command=xfce4-terminal
name=
icon_name=/home/manu/Config/look/Icons/terminal.png
icon_id=21

[launcher_16]
command=filezilla
name=
icon_name=/usr/share/pixmaps/filezilla.png
icon_id=21

[launcher_15]
command=amule
name=
icon_name=/home/manu/Config/look/Icons/amule.png
icon_id=21

[launcher_14]
command=transmission-gtk
name=transmission
icon_name=/usr/share/pixmaps/transmission.png
icon_id=21

[launcher_13]
command=thunar
name=Help
icon_name=/home/manu/Config/look/Icons/system-file-manager.png
icon_id=21

[launcher_12]
command=env PULSE_LATENCY_MSEC=60 skype %U
name=
icon_name=/usr/share/pixmaps/skype.png
icon_id=21

[launcher_11]
command=googleearth
name=
icon_name=/home/manu/Config/look/Icons/google_earth32.png
icon_id=21

[launcher_10]
command=banshee-toggle-play
name=
icon_name=/home/manu/Config/look/Icons/rhythmbox.png
icon_id=21

[launcher_9]
command=iceweasel
name=
icon_name=/usr/share/pixmaps/iceweasel.png
icon_id=21

[launcher_8]
command=gvim
name=gvim
icon_name=/usr/share/pixmaps/vim-16.xpm
icon_id=21

[launcher_7]
command=vlc
name=
icon_name=/home/manu/Config/look/Icons/vlc.png
icon_id=21

[launcher_6]
command=gimp
name=
icon_name=/home/manu/Config/look/Icons/gimp.png
icon_id=21

[launcher_5]
command=inkscape
name=
icon_name=/home/manu/Config/look/Icons/inkscape.png
icon_id=21

[launcher_4]
command=oocalc
name=
icon_name=/home/manu/Config/look/Icons/ooo-calc.png
icon_id=21

[launcher_3]
command=wine "/home/manu/.wine/drive_c/Program Files/Microsoft Office/Office12/WINWORD.exe"
name=
icon_name=/home/manu/Config/look/Icons/word2007.png
icon_id=21

[launcher_2]
command=wine "/home/manu/.wine/drive_c/PDF-XChange-Viewer2.5.2/PDF Viewer/PDFXCview.exe"
name=
icon_name=/home/manu/Config/look/Icons/pdf-xchange-viewer.png
icon_id=21

[launcher_1]
command=LaunchSession.sh matlab
name=
icon_name=/home/manu/Config/look/Icons/logoMatlab.png
icon_id=21

